/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

.game-area {
	width: 450px;
}

.tick-tack-grid {
	
	div md-grid-tile {
        cursor: pointer;
        
		&:nth-child(2), &:nth-child(5), &:nth-child(8) {
			border-left: 1px solid #ccc;
			border-right: 1px solid #ccc;
		}

		&:nth-child(4), &:nth-child(5), &:nth-child(6) {
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
		}
        
        i.material-icons.tick {
            color: green;
        }
        
        i.material-icons.cross {
            color: red;
        }
		
	}

}